# The project name will be used for the creation of container assets - networks, volumes, etc.
PROJECT_NAME=tanstart-project

# The internal port of postgres will be the default 5432, but the exposed one can be different as specified:
POSTGRES_EXPOSED_PORT=5444

# Postgres container variables
POSTGRES_USER=some_user_name
POSTGRES_PASSWORD=a_very_secure_secret
POSTGRES_DB=postgres_db_tanstart

# Overwrites the database url in .env in the root with the one for the composed app container.
# The user, password and db should match the ones above. The server is db - as specified in the
# compose yaml, and the port is the internal port for the db, not the external one.
DATABASE_URL=postgres://some_user_name:a_very_secure_secret@db:5432/postgres_db_tanstart
