# The project name will be used for the creation of container assets - networks, volumes, etc.
PROJECT_NAME=tanstart-project

# The internal port of postgres will be the default 5432, but the exposed one can be different as specified:
POSTGRES_EXPOSED_PORT=5440

# Postgres container variables
POSTGRES_USER=some_user_name
POSTGRES_PASSWORD=a_very_secure_secret
POSTGRES_DB=postgres_db_tanstart
