# The project name will be used for the creation of container assets - networks, volumes, etc.
PROJECT_NAME=tanstart-project

# Overrides rpc_secret
GARAGE_RPC_SECRET= ... a beautiful secret ...

# Overrides [admin]/admin_token
GARAGE_ADMIN_TOKEN= ... a mystery ...

# Overrides [admin]/metrics_token
GARAGE_METRICS_TOKEN= ... an enigma ...
